h1{
  text-align: center;
  padding-top: 10%;
  font-size: 50px;
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  height: 100px;
}
table thead  th,td{
  vertical-align: middle;
  border-radius: 20px;
  border: white;
}
table {
  /*display: block;*/
  /*overflow-x: auto;*/
  white-space: nowrap;
  border-radius: 20px;
  margin-top: 10%;
  background-color: transparent;
}
th {
  text-align: center;
}
tr th{
  background: linear-gradient(orangered,mediumpurple);
}
tr td{
  text-align: center;
}
tr:nth-child(even){
  background: grey;
}
